@model IEnumerable<KaryalayaMatadan.Models.MonthlyCandidate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Vote Year: @Html.TextBox("SearchYear")
    </p>
    <p>
        Vote Month: @Html.TextBox("SearchMonth")
    </p>
    <p>
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CandidateEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Votes)
            </td>
        </tr>
    }

</table>
